/* body{
  background: url("https://p.turbosquid.com/ts-thumb/ya/Ual0b1/hO0z5c4c/thumbnail_colored/png/1447281254/2220x1200/fit_q99/7e96cddd129fc3053a8c1b3483238d403df5a37e/thumbnail_colored.jpg") no-repeat fixed;
} */

#fgt-img {
  height: 35px;
  object-fit: scale-down;
  max-width: 50%;
  position: absolute;
  left: 0;
  top:0;
}
#fgt-img2 {
  height: 35px;
  object-fit: scale-down;
  max-width: 50%;
  position: absolute;
  right: 0;
  top:0;
}

#animate {
  position: relative;
  
}

#spin:hover, #spin3:hover {
  animation-name: rotate;
  animation-duration: 3s;
  animation-delay: 1s;
}

#spin2:hover, #spin4:hover {
  animation-name: rotate2;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate2{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}

/*  
.percentage-text {
  vertical-align: text-top;
  font-size: large;

}
*/